.LibreriaIMG{
    background-image: url('Libros2.jpg');
    height: 101vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.EncuentraLibro{
    margin-left: auto;   
    margin-right: auto;  
    width: 70%;          
    max-width: 1000px;
    margin-top: 230px;
    margin-bottom: 335px;
    text-align: left; 
    
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.6));
}

.MasLeido{
    margin-left: auto;   
    margin-right: auto;  
    max-width: 1000px;
    margin-top: 150px;
    width: 70%;
    text-align: center;   

}

.MasLeidoColor{
    width: 90%;
    padding: 30px 0;
    background-color: #1f3845/* #494d32 *//* #7B8253*/;
    margin: 0 auto;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.6));
}

.Novedades{
    margin-left: auto;   
    margin-right: auto;  
    max-width: 1000px;
    margin-top: 150px;
    width: 70%;
    text-align: center;   
}

.NovedadesColor{
    width: 90%;
    padding: 30px 0;
    background-color: white/* #7B8253*/;
    margin: 0 auto;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.6));
}

.Ofertas{
    margin-left: auto;   
    margin-right: auto;  
    max-width: 1000px;
    margin-top: 150px;
    width: 70%;
    text-align: center;   
}

.OfertasColor{
    width: 90%;
    padding: 30px 0;
    background-color: #1f3541/* #7B8253*/;
    margin: 0 auto;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.6));
}


.DerechosDeAutor {
   
    width: 100%; 
    background-color: white;
    margin-top: 100px;
    padding: 40px 0; 
    margin: 0 auto;
    
}

.DerechosDeAutor p, .DerechosDeAutor ul, .DerechosDeAutor a{
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; 
    text-align: left;

    text-decoration: none; 
    color: black;

    transition: all 0.3s ease; 
    position: relative;

}

/* DALE LAS GRACIAS A GEMINI :P */

/* El cuadro de búsqueda */
.Buscador input[type="search"] {
    width: 220px;
    height: 35px;
    border: none; /* Quitamos bordes */
    outline: none; /* Quitamos el borde azul al hacer clic */
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Marcellus', serif;
    color: #1f3845;
}

/* El botón ¡Vamos!: Con fondo y sin bordes */
.Buscador input[type="submit"] {
    height: 35px; /* Misma altura que el input */
    padding: 0 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Marcellus', serif;
    color: white; /* Color oscuro para el texto */
    /* Usamos el color dorado sobrio y plano (sin degradados) */
    background: #1f3845; 
    border: none; /* ELIMINA BORDES */
    border-radius: 0; /* TOTALMENTE CUADRADO */
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}