.ColorBarraDeActividades{
    background-color: #9DAA75/* #7B8253*/;
}

.TituloRecomendado{
   margin-left: auto;   
    margin-right: auto;  
    width: 70%;          
    max-width: 1000px;
    margin-top: 100px;
    margin-bottom: 275px;
    text-align: left;  
    background-color: white;

}

.TituloRecomendadoColor{
    width: 100%;
    padding: 30px 0;
    background-color: #9DAA75/* #7B8253*/;
}


