body, header, nav, form, h1 {
    box-sizing: border-box;
}

.CuerpoDelInicioDeSesion{
    min-height: 90vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background:  #9DAA75;
    font-family: "Marcellus", serif;
    padding-top: 20px;

    background-image: url('fondoLibro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   position: relative;
}


.Contenido {
    width: 420px;
    height: 540px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

.Registro {
    width: 840px;
    height: 100%;
    display: flex;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.Formato {
    width: 420px;
    padding: 45px 35px;
    text-align: center;
    background: #9DAA75;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NuevaCuenta input {
    margin-bottom: 14px;
    padding: 15px 20px;
}

.Formato p {
    margin-top: 18px;
    color: #fff;
    font-size: 14px;
}

h2 {
    color: black;
    font-size: 28px;
    margin-bottom: 30px;
}


.ingresar, .crear-cuenta{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #1f3845b4, #1f3845);
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}


.Formato input {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 15px;
    box-sizing: border-box; 
}

.Formato p span {
    color: rgb(191, 63, 63);
    cursor: pointer;
    font-weight: 600;
}

