body{
    background-color: #eeeded;
    font-family: "Playfair Display", serif;
}

.TituloLibreria{
    margin-left: 190px;
}

.Buscador{
    margin-left: 910px;
    margin-top: -50px ;
}


.EncuentraIndex{
    background-color: white;
    padding: 150px 50px 150px 50px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: -8px ;
}

.Contenido{
    background-color: #424141 ;
    margin-top: -29px;   
    margin-left: 150px;
    margin-right: 150px; 
   
}


.TituloRecomendado{
    background-color: white;
    padding: 205px 20px 40px; 
    margin-right: 200px;
    margin-left: 200px;
    margin-top: -8px ;
   
}

.TituloRecomendado h2{
    margin-left: 430px;
    margin-top: -170px;
}

.TituloRecomendado h5{
    margin-left: 760px;
}


.TituloRecomendado p{
    margin-left: 320px;
    margin-right: 50px;
    margin-top: -5px;
    
}


